<% provide(:title, "Sign in") %>
<%= stylesheet_link_tag "new", params[:action], media: "all" %>

<div class = "row hero-unit">
	<h1> Sign in </h1>
	<div class = "span6 offset3">
		<%= form_for(:session, url: sessions_path) do |f| %>

		<%= f.label :email %>
		<%=f.text_field :email %>

		<%= f.label :password %>
		<%= f.password_field :password %>

		<%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
		
		<% end %>
		<p1>New client? <%= link_to "Register now", signup_path %></p1>
	</div>
</div>